body {
    padding: 0px;
    margin: 0px;
    background-color: antiquewhite;
}

.header {
    margin: 0px;
    padding: 0px;
    background-image: url(./images/IBCSmoothies.jpeg);
    width: 100%;
    height: 500px;
    background-position: center center;
    /*this makes the image center by center*/
    border: 3px solid red;
}

.header h1 {
    /*border: 3px solid yellow; */
    text-align: center;
    /*margin: 0px;*/
    line-height: 76px;
    margin-top: 200px;
    font-family: 'Covered By Your Grace', sans-serif;
    font-size: 100px;
    background-color: rgb(224, 88, 122);
    color: rgb(255, 255, 255);
}

.introduction {
    background-color: white;
    padding: 30px 30px 30px 30px;
    margin: 30px 30px 0px 30px;
    width: 75%;
    border-radius: 4px;
    align-self: center;
}

.green {
    width: 75%;
    align-self: center;
    padding: 10px 10px 10px 10px;
    margin-top: 40px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    background-color: rgb(198, 230, 166);

}

.yellow {
    width: 75%;
    align-self: center;
    padding: 10px 10px 10px 10px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    background-color: rgb(252, 252, 182);
}

/*to center the image*/
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/*Center all h2 headings*/
h2 {
    text-align: center;
}

.cards {
    display: inline-block;
    padding: 20px;
    margin: 10px;
    width: 75%;

}

.cards img {
    width: 200px;
    height: 150px;
}

.nobullet {
    list-style: none;
    border-bottom: 1px solid #E4BB97
}

h3 {
    color: #ed612e;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    font-weight: 900;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
}